
.App {
  width: 100%;
  padding: 50px;
}

#new_project {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  border:1px solid #40a9ff;
  /* border-color:  */
  background: #1890ff;
  box-shadow: 0 2px #0000000b;
  cursor: pointer;
}